@model IEnumerable<ToroCreativo.Clases.TamañoDetalle>

@{
    ViewData["Title"] = "- Tamaños";
}

<div class="titulo">
    <h1>Sistema Administrativo <span>Medidas</span> </h1>
</div>

<div class="registros">

    <table id="tabla" class="table table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Medida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    <a asp-action="CrearEditar"><i class="fas fa-plus" title="Agregar registro"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Medida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    <a asp-action="CrearEditar" asp-route-id="@item.idTamaño" class="btn btn-outline-info">Editar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

