@model IEnumerable<ToroCreativo.ViewModels.Usuario.UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
}

@section Styles{



}
<div class="titulo">
    <h1>Sistema Administrativo <span>Clientes</span> </h1>
</div>



<div class="registros">

    <table id="tabla" class="table table table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Rol
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    <a  asp-action="CrearUsuario" asp-controller="Usuarios" class="text-dark"><i class="fas fa-plus"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => usuario.Email)
                    </td>
                    <td>
                        @string.Join(" ", usuario.Rol.ToList())
                    </td>
                    <td>
                        @if (usuario.Estado.Equals("Habilitado"))
                        {
                            <p class="text-success">@Html.DisplayFor(modelItem => usuario.Estado)</p>
                        }
                        else
                        {
                            <p class="text-danger">@Html.DisplayFor(modelItem => usuario.Estado)</p>
                        }

                    </td>

                    <td>
                        @if (usuario.Estado.Equals("Habilitado"))
                        {
                            <a asp-action="CambiarEstado" asp-route-id="@usuario.Id">
                                <i class="fas fa-check-circle text-success" title="Cambiar"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-action="CambiarEstado" asp-route-id="@usuario.Id">
                                <i class="fas fa-times-circle text-danger" title="Cambiar"></i>
                            </a>
                        }


                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{


    <script>

    @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Crear")) { 
        <text>

              Swal.fire({
                title: "Crear usuario",
                type: "success",
                html: "@TempData["Mensaje"]"
              });

             </text>
    }



    @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Editar"))
    {
        <text>

            Swal.fire({
                title: "Editar usuario",
                type: "success",
                html: "@TempData["Mensaje"]"
            });

        </text>
    }
    </script>
}
