@model IEnumerable<ToroCreativo.Clases.UsuarioDetalle>

@{
    ViewData["Title"] = "";
}


<div class="titulo">
    <h1>Sistema Administrativo <span>Usuario</span> </h1>
</div>


        
        <div class="registros">

            <table id="tabla" class="table table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rol)
                        </th>
                        <th>
                            <a asp-action="CrearEditar" class="text-dark"><i class="fas fa-plus"></i></a>
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @if (item.Estado.Equals("Habilitado"))
                            {
                                <p class="text-success">@Html.DisplayFor(modelItem => item.Estado)</p>
                            }
                            else
                            {
                                <p class="text-danger">@Html.DisplayFor(modelItem => item.Estado)</p>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rol)
                        </td>
                        <td>
                            @if (item.Estado.Equals("Habilitado"))
                            {
                                <a asp-action="CambiarEstado" asp-route-id="@item.IdUsuario">
                                    <i class="fas fa-check-circle text-success" title="Cambiar"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-action="CambiarEstado" asp-route-id="@item.IdUsuario">
                                    <i class="fas fa-times-circle text-danger" title="Cambiar"></i>
                                </a>
                            }

                        </td>





                        <td>
                            <a asp-action="CrearEditar" class="text-dark" asp-route-id="@item.IdUsuario"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

