@model IEnumerable<ToroCreativo.ViewModels.UsuarioViewModel>

@{
    ViewData["Title"] = "";
}


<div class="titulo">
    <h1>Sistema Administrativo <span>Usuario</span> </h1>
</div>



<div class="registros">

    <table id="tabla" class="table table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>

                <th>
                    <a asp-action="CrearUsuario" class="text-dark"><i class="fas fa-plus"></i></a>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.Estado.Equals("Habilitado"))
                        {
                            <p class="text-success">@Html.DisplayFor(modelItem => item.Estado)</p>
                        }
                        else
                        {
                            <p class="text-danger">@Html.DisplayFor(modelItem => item.Estado)</p>
                        }

                    </td>
                    <td>
                    </td>
                    <td>
                        @if (item.Estado.Equals("Habilitado"))
                        {
                            <a asp-action="CambiarEstado" asp-route-id="@item.Id">
                                <i class="fas fa-check-circle text-success" title="Cambiar"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-action="CambiarEstado" asp-route-id="@item.Id">
                                <i class="fas fa-times-circle text-danger" title="Cambiar"></i>
                            </a>
                        }

                    </td>





                    
                </tr>
            }
        </tbody>
    </table>
</div>