@model IEnumerable<ToroCreativo.ViewModels.Usuario.UsuarioViewModel>

@{
    ViewData["Title"] = "Usuarios";
}

@section Styles{



}
<div class="titulo">
    <h1>Sistema Administrativo <span>Usuarios</span> </h1>
</div>

<div class="registros">

    <table id="tabla" class="table table table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Rol
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    <a asp-action="CrearUsuario" asp-controller="Usuarios" class="text-dark"><i class="fas fa-plus"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => usuario.Email)
                    </td>
                    <td>
                        @string.Join(" ", usuario.Rol.ToList())
                    </td>
                    <td>
                        @if (usuario.Estado.Equals("Habilitado"))
                        {
                            <p class="text-success">@Html.DisplayFor(modelItem => usuario.Estado)</p>
                        }
                        else
                        {
                            <p class="text-danger">@Html.DisplayFor(modelItem => usuario.Estado)</p>
                        }

                    </td>

                    <td>
                        @if (usuario.Estado.Equals("Habilitado"))
                        {
                            <i onclick="CambiarEstadoUsuario('@usuario.Id', '@usuario.Email')" class="fas fa-check-circle text-success" title="Cambiar"></i>
                        }
                        else
                        {
                            <i onclick="CambiarEstadoUsuario('@usuario.Id', '@usuario.Email')" class="fas fa-times-circle text-danger" title="Cambiar"></i>
                        }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{

    <script>

        @if (TempData["Cambiar"] != null && TempData["Cambiar"].ToString().Equals("no"))
        {
            <text>

            Swal.fire({
                icon: 'error',
                title: 'No se puede cambiar el estado',
                html: 'El usuario seleccionado cuenta con pedidos en proceso, deberá de solucionar el estado de los pedidos con ese usuario para poder realizar esta acción'
            });

            </text>
        }
    </script>
}


