<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toro Creativo @ViewData["Title"]</title>
    <!--estilos librerias-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
 
    <!--estilos propios del proyecto-->        
    <link rel="stylesheet" href="~/css/nav-cliente.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header id="header">
        <div class="header">
            <div class="nav-bar">
                <div class="nav-list">
                    <div class="menu">
                        <div class="logo">
                            @if (TempData["Principal"] != null)
                            {
                                <img src="~/img/logoAmarillo.svg" />
                            }
                            else
                            {
                                <img src="~/img/logoMorado.svg" />
                            }

                        </div>
                    </div>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" data-after="Inicio">Inicio</a></li>
                        <li>
                            <a asp-controller="ProductosCategoria" asp-action="ProductosCliente" data-after="Productos">Productos</a>
                        </li>
                        <li>
                            <a asp-controller="GenerosIlustracions" asp-action="IlustracionesCliente" data-after="Ilustraciones">Ilustraciones</a>
                        </li>
                    </ul>
                </div>
                <div class="sub-menu">
                    @if (TempData["Usuario"] != null)
                    {
                        <div class="iconos">
                            <div class="carrito">
                                <i class="fas fa-shopping-cart" id="shop" onclick="mostrarcarrito()" title="Ver Carrito"></i>
                            </div>
                            <div class="notificaciones">
                                <i class="fas fa-bell" id="notificacion" onclick="mostrarnoti()" title="Notificaciones"></i>
                            </div>
                            <div class="cuenta">
                                <i class="fas fa-user-circle" id="user" onclick="mostrarcuenta()" title="Ver Perfil"></i>
                            </div>
                            <div class="salir">
                                <a asp-action="CerrarSesion" asp-controller="Usuarios" title="Cerrar Sesión"><i class="fas fa-sign-out-alt"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="sign-in">
                            <a asp-action="Login" asp-controller="Usuarios">Iniciar Sesión</a>
                        </div>
                        <div class="sign-up">
                            <a asp-action="Registrar" asp-controller="Usuarios">Registrarse</a>
                        </div>
                    }
                </div>
                @if (TempData["Usuario"] != null)
                {
                    <div class="box notifi-box" id="notificaciones-box">
                        <h2>Notificaciones</h2>
                        
                    </div>
                    <div class="box cuenta-box" id="cuenta-box">
                        <div class="box-content cuenta-item">
                            <a asp-controller="Clientes" asp-action="Perfil" class="link">
                                <div class="icon">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <div class="text">
                                    <p>Ver perfil</p>                                    
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box carrito-box" id="carrito-box">
                        <div class="productos-carrito" id="productos-carrito">
                            @if (ViewBag.Carrito != null)
                            {
                                @foreach (var carrito in ViewBag.Carrito)
                                {
                                    <div class="box-content cuenta-item producto-en-carrito">
                                        <div class="imagen-producto">
                                            <img src="@("~/imgProductos/" + carrito.ImagenName)" asp-append-version="true" />
                                        </div>
                                        <div class="text">
                                            <p><span>@carrito.Nombre</span> @carrito.Medida</p>
                                            <p class="colorProducto"><span>Color: </span><i class="fas fa-circle" style="color: @carrito.Color;"></i></p>
                                            <p><span>Cantidad: </span> @carrito.Cantidad</p>
                                            <p><span>Precio: </span> @carrito.Precio</p>
                                        </div>
                                        @*<div class="acciones">
                                                <i class="fas fa-trash-alt"></i>
                                                <i class="fas fa-edit"></i>
                                            </div>*@
                                    </div>
                                }
                            }
                        </div>
                        <div class="pedir">
                            <a asp-controller="Pedidos" asp-action="FinalizarPedido" id="finalizar">Iniciar Pedido</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </header>
    <article>
        @RenderBody()
    </article>
    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <i class="fas fa-times" title="Cerrar Pestaña" data-dismiss="modal"></i>
                </div>
                <div class="modal-body">
                    
                </div>               
            </div>
        </div>
    </div>
    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ToroCreativo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
        -->
    <!--Scripts librerias-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/datatable.js"></script>




    <!-- Scripts del proyecto -->
    <script src="~/js/funcionesgenerales.js"></script>
    <script src="~/js/nav_cliente.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/alertas.js"></script>
    <script>
        let productosCarrito = $(".producto-en-carrito").length;
        if (productosCarrito == 0) {
            $("#productos-carrito").append('<p class="vacio">No hay productos dentro del carrito</p>');
            $("#finalizar").addClass("none");
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "../../Notificaciones/ObtenerNotificaciones",
            traditional: true,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                
                for (var i = 0; i < data.length; i++) {
                    if (data[i].tipo == "Vendido") {
                        notificacionGenerada(data[i].fecha, 'fas fa-shopping-bag', 'Tu compra esta en proceso, pronto te será enviada', '../../Pedidos/DetalleVentasCliente/', data[i].direccion);
                    }
                    else if (data[i].tipo == "Aceptado") {
                        notificacionGenerada(data[i].fecha, 'fas fa-check-circle', 'Tu pedido ha sido aceptado', '../../Pedidos/DetallePedidosCliente/', data[i].direccion);
                    }
                    
                    else if (data[i].tipo == "Cancelado") {
                        notificacionGenerada(data[i].fecha, 'fas fa-ban', 'Tu pedido ha sido cancelado', '../../Pedidos/DetallePedidosCliente/', data[i].direccion);
                    }
                    else if (data[i].tipo == "Enviado") {
                        notificacionGenerada(data[i].fecha, 'fas fa-truck', 'Tu compra ha sido enviada','../../Pedidos/DetalleVentasCliente/', data[i].direccion);
                    }
;                }
            },
            error: function (xhr, status, error) {

            }
        });
    });
    function notificacionGenerada(fecha, icono, texto, caso, id) {
        $('#notificaciones-box').append('<div class="box-content notifi-item">\n\
                        <a href="'+ caso + id +'" class="link">\n\
                            <div class="icon">\n\
                                <i class="'+ icono +'"></i>\n\
                            </div>\n\
                            <div class="text">\n\
                                <p><span>'+ fecha +'</span> '+texto+'</p>\n\
                            </div>\n\
                        </a>\n\
                    </div>' );
    };

</script>