
 <!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toro Creativo @ViewData["Title"]</title>
    <!--estilos librerias-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" />
    <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!--estilos propios del proyecto-->        
    <link rel="stylesheet" href="~/css/nav-cliente.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header id="header">
        <div class="header">
            <div class="nav-bar">
                <div class="nav-list">
                    <div class="menu">
                        <div class="logo">
                            @if (TempData["Principal"] != null)
                            {
                                <img src="~/img/logoAmarillo.svg" />
                            }
                            else
                            {
                                <img src="~/img/logoMorado.svg" />
                            }

                        </div>
                    </div>                    
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" data-after="Inicio">Inicio</a></li>
                        <li>
                            <a asp-controller="ProductosCategoria" asp-action="ProductosCliente" data-after="Productos">Productos</a>
                        </li>
                        <li>
                            <a asp-controller="GenerosIlustracions" asp-action="IlustracionesCliente" data-after="Ilustraciones">Ilustraciones</a>
                        </li>                        
                    </ul>
                </div>
                <div class="sub-menu">
                    @if (TempData["Usuario"] != null)
                    {
                        <div class="iconos">
                            <div class="carrito">
                                <i class="fas fa-shopping-cart" id="shop" onclick="mostrarcarrito()" title="Ver Carrito"></i>
                            </div>
                            <div class="notificaciones">
                                <i class="fas fa-bell" id="notificacion" onclick="mostrarnoti()" title="Notificaciones"></i>
                            </div>
                            <div class="cuenta">
                                <i class="fas fa-user-circle" id="user" onclick="mostrarcuenta()" title="Ver Perfil"></i>
                            </div>
                            <div class="salir">
                                <a asp-action="CerrarSesion" asp-controller="Usuarios" title="Cerrar Sesión"><i class="fas fa-sign-out-alt"></i></a>
                            </div>
                        </div>                           
                    }
                    else
                    {
                        <div class="sign-in">
                            <a asp-action="Login" asp-controller="Usuarios">Iniciar Sesión</a>
                        </div>
                        <div class="sign-up">
                            <a asp-action="Registrar" asp-controller="Usuarios">Registrarse</a>
                        </div>
                    }
                </div>
                <div class="box notifi-box" id="notificaciones-box">
                    <h2>Notificaciones</h2>
                    <div class="box-content notifi-item">
                        <a href="#" class="link">
                            <div class="icon">
                                <i class="fas fa-mail-bulk"></i>
                            </div>
                            <div class="text">
                                <p><span>Toro Creativo</span> Ha aceptado tu pedido</p>
                            </div>
                        </a>
                    </div>
                    <div class="box-content notifi-item">
                        <a href="#" class="link">
                            <div class="icon">
                                <i class="fas fa-mail-bulk"></i>
                            </div>
                            <div class="text">
                                <p><span>Toro Creativo</span> Te quedan 7 días para pagar tu pedido</p>
                            </div>
                        </a>
                    </div>
                    <div class="box-content notifi-item">
                        <a href="#" class="link">
                            <div class="icon">
                                <i class="fas fa-mail-bulk"></i>
                            </div>
                            <div class="text">
                                <p><span>Toro Creativo</span> Ha cancelado tu pedido</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="box cuenta-box" id="cuenta-box">
                    <div class="box-content cuenta-item">
                        <a asp-controller="Clientes" asp-action="Perfil" class="link">
                            <div class="icon">
                                <i class="fas fa-user-circle"></i>
                            </div>
                            <div class="text">
                                <p><span>Nombre del usuario</span></p>
                                <p>Ver perfil</p>
                            </div>
                        </a>
                    </div>
                    <div class="box-content cuenta-item">
                        <a asp-controller="Pedidos" asp-action="PedidoVistaCliente" class="link">
                            <div class="icon">
                                <i class="fas fa-mail-bulk"></i>
                            </div>
                            <div class="text">
                                <p><span>mis pedidos</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="box-content cuenta-item">
                        <a asp-controller="Pedidos" asp-action="VentasVistaCliente" class="link">
                            <div class="icon">
                                <i class="fas fa-mail-bulk"></i>
                            </div>
                            <div class="text">
                                <p><span>mis compras </span></p>
                            </div>
                        </a>
                    </div>                    
                </div>
                <div class="box carrito-box" id="carrito-box">
                    <div class="productos-carrito">

                        @if (ViewBag.Carrito != null)
                        {
                            @foreach (var carrito in ViewBag.Carrito)
                            {
                                <div class="box-content cuenta-item">
                                    <a href="#" class="link">
                                        <div class="imagen-producto">
                                            <img src="~/img/logo.png"/>
                                        </div>
                                        <div class="text">
                                            <p><span>@carrito.Nombre @carrito.Nombre</span> @carrito.Medida</p>                                            
                                            <p><span>Color</span> @carrito.Color</p>
                                            <p><span>Cantidad</span> @carrito.Cantidad</p>
                                            <p><span>Precio</span> @carrito.Precio</p>
                                        </div>
                                        @*<div class="acciones">
                                            <i class="fas fa-trash-alt"></i>
                                            <i class="fas fa-edit"></i>
                                        </div>*@
                                    </a>
                                </div>
                            }
                        }

                    </div>
                    <div class="pedir">
                        <a asp-controller="Pedidos" asp-action="FinalizarPedido">Iniciar Pedido</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        @RenderBody()
    </article>
    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ToroCreativo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
        -->
    <!--Scripts librerias-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>*@
    @*<script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>*@
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    @*<script src="~/js/datatable.js"></script>*@




    <!-- Scripts del proyecto -->
    <script src="~/js/funcionesgenerales.js"></script>
    <script src="~/js/nav_cliente.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/alertas.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
