@model ToroCreativo.Models.Entities.Cliente

@{
    ViewData["Title"] = "Details";
}

<article>
    <div class="container">
        <div class="titulo titulo-detalle">
            <h1>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido) </h1>
        </div>

        <div class="gestion">

            <div class="registros">
                <div class="rounded BackClienteInfo">
                    <div class="row">
                        <h5 class="LetraGrandeB col-sm-2 ">@Html.DisplayNameFor(model => model.Cedula): </h5>
                        <h5 class="LetraGrande col-sm-4">@Html.DisplayFor(model => model.Cedula)</h5>
                        <h5 class="LetraGrandeB col-sm-2"> @Html.DisplayNameFor(model => model.Telefono): </h5>
                        <h5 class="LetraGrande col-sm-4">@Html.DisplayFor(model => model.Telefono)</h5>
                    </div>
                    <div class="row">
                        <h5 class="LetraGrandeB col-sm-2">@Html.DisplayNameFor(model => model.Nombre)</h5>
                        <h5 class="LetraGrande col-sm-4">@Html.DisplayFor(model => model.Nombre)</h5>
                        <h5 class="LetraGrandeB col-sm-2">@Html.DisplayFor(model => model.Apellido): </h5>
                        <h5 class="LetraGrande col-sm-4">@Html.DisplayFor(model => model.Apellido)</h5>
                    </div>
                    <div class="row">
                        <h5 class="LetraGrandeB col-sm-2">@Html.DisplayNameFor(model => model.IdUsuario):</h5>
                        <h5 class="LetraGrande col-sm-4">@Html.DisplayFor(model => model.IdUsuario)</h5>
                        <h5 class="LetraGrandeB col-sm-2">@Html.DisplayNameFor(model => model.Direccion)</h5>
                        <h5 class="LetraGrande col-sm-4">@Html.DisplayFor(model => model.Direccion)</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title LetraGrande">Comentarios realizados</h5>
                                <p class="card-text LetraPequeña">Aquí encontraras los comentarios del cliente en cuestión</p>
                                <a href="cliente-comentarios.html" class="btn boton"> Ver comentarios realizados</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title LetraGrande">Pedidos realizados    </h5>
                                <p class="card-text LetraPequeña">Aquí encontraras los pedidos del cliente en cuestión</p>
                                <a href="cliente-pedidos.html" class="btn boton"> Ver pedidos realizados</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title LetraGrande"> Ventas realizadas   </h5>
                                <p class="card-text LetraPequeña">Aquí encontraras las ventas del cliente en cuestión</p>
                                <a href="cliente-ventas.html" class="btn boton"> Ver ventas realizadas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</article>