@model IEnumerable<ToroCreativo.Clases.IlustracionDetalle>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/ilustraciones.css" />
<div class="titulo">
    <h1>Sistema Administrativo <span>Ilustraciones</span> </h1>
</div>



<div class="registros">

    <table id="tabla" class="table table table-hover">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    <a asp-action="CrearEditar" class="text-dark"><i class="fas fa-plus"></i></a>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <!--<td>-->
                        @*<img class="imagen" src="@("~/imgIlustraciones/"+item.ImageName)" asp-append-version="true" />*@
                    <!--</td>-->
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td>
                        @if (item.Estado.Equals("Habilitado"))
                        {
                            <p class="text-success">@Html.DisplayFor(modelItem => item.Estado)</p>
                        }
                        else
                        {
                            <p class="text-danger">@Html.DisplayFor(modelItem => item.Estado)</p>
                        }

                    </td>

                    <td>
                        @if (item.Estado.Equals("Habilitado"))
                        {
                            <a asp-action="CambiarEstado" asp-route-id="@item.IdIlustracion">
                                <i class="fas fa-check-circle text-success" title="Cambiar"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-action="CambiarEstado" asp-route-id="@item.IdIlustracion">
                                <i class="fas fa-times-circle text-danger" title="Cambiar"></i>
                            </a>
                        }

                    </td>
                    <td>
                        <a asp-action="CrearEditar" class="text-dark" asp-route-id="@item.IdIlustracion"><i class="fas fa-edit"></i></a>

                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdIlustracion">
                            <i class="fas fa-search-plus" title="detalle registro"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!--<div class="titulo">
<h1>Sistema Administrativo <span>Ilustraciones</span> </h1>
      </div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="primer-nav-tab" data-toggle="tab" href="#primer-nav" role="tab"
           aria-controls="primer-nav" aria-selected="true">Géneros</a>
        <a class="nav-item nav-link" id="segundo-nav-tab" data-toggle="tab" href="#segundo-nav" role="tab"
           aria-controls="segundo-nav" aria-selected="false">Ilustraciones</a>
    </div>
</nav>

<div class="gestion">
    <div class="tab-content" id="nav-tabContent">-->

        <!-- Contenido primer nav -->
        <!--<div class="tab-pane fade show active" id="primer-nav" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="formulario genero">
                <h2>Crear Género</h2>
                <form action="">
                    <input type="text" class="form-control" placeholder="Género" required>
                    <a class="boton cancelar">Cancelar</a>
                    <button type="submit" class="boton crear">Crear</button>
                </form>
            </div>

            <div class="registros">
                <table id="tabla" class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th><i class="fas fa-plus agregar" title="Agregar registro"></i></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Patrón</td>
                            <td>Activo</td>
                            <td>
                                <a href="" onclick="Cambiarestado()">
                                    <i class="fas fa-check-circle text-success"
                                       title="Activar registro"></i>
                                </a>
                            </td>
                            <td><a href=""><i class="fas fa-edit" title="Editar registro"></i></a></td>
                            <td>
                                <a href="./detalle-genero.html"><i class="fas fa-search-plus" title="detalle registro"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->

        <!-- Contenido segundo nav -->
        <!--<div class="tab-pane fade show" id="segundo-nav" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="formulario ilustracion">
                <h2>Crear ilustración</h2>
                <form action="">
                    <input type="file" class="form-control" required>
                    <input type="text" class="form-control" placeholder="Nombre Ilustración" required>
                    <select class="form-control">
                        <option value="">seleccione una Género</option>
                        <option value="">Patrón</option>
                    </select>
                    <textarea class="form-control" placeholder="descripción"></textarea>
                    <a class="boton cancelar">Cancelar</a>
                    <button type="submit" class="boton crear">Crear</button>
                </form>
            </div>

            <div class="registros">
                <table id="tabla2" class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Género</th>
                            <th>Comentarios</th>
                            <th>Estado</th>
                            <th><i class="fas fa-plus agregar" title="Agregar registro"></i></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img class="imagen" src="../../utils/img/logoverde.png" alt=""></td>
                            <td>Toro Creatvio</td>
                            <td>Patrón</td>
                            <td>4</td>
                            <th>Activado</th>
                            <td>
                                <a href="" onclick="Cambiarestado()">
                                    <i class="fas fa-check-circle text-success"
                                       title="Activar registro"></i>
                                </a>
                            </td>
                            <td><a href=""><i class="fas fa-edit" title="Editar registro"></i></a></td>
                            <td>
                                <a href="./detalle-ilustracion.html"><i class="fas fa-search-plus" title="detalle registro"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>-->