@model ToroCreativo.Clases.PedidoDetalle

@{
    ViewData["Title"] = "Detalle Pedido";
}

@section Styles{
    <link rel="stylesheet" href="~/css/pedidos-detalle-admin.css"/>
}

<div class="informacion" >
    <div class="encabezado">
        <div class="titulo-detalle">
            <h1>Factura de @Html.DisplayFor(model => model.Nombre)</h1>
        </div>
        <div class="logo">
            <img src="~/img/logo.png" />
        </div>
    </div>
    <div class="empresa-factura">
        <div class="info-empresa">
            <h2>Toro Creativo</h2>
            <p>CL 40 CR 40-49</p>
            <p>3838383838</p>
        </div>
        <div class="info-factura">
            @if (Model.Estado == "Sin Enviar" || Model.Estado == "Enviado")
            {
                <span>Fecha venta</span>
                <p>@Html.DisplayFor(model => model.FechaVenta)</p>
            }
            else
            {
                <span>Fecha Pedido</span>
                <p>@Html.DisplayFor(model => model.FechaPedido)</p>
            }
            <span>N° de Factura</span>
            <p>@Html.DisplayFor(model => model.IdPedido)</p>
            @if (Model.Estado == "Aceptado")
            {
                <span>Comprobante</span>
                @if (Model.ImageName == null)
                {
                    <p>No</p>
                }
                else
                {
                    <p>Si</p>
                }
            }
        </div>
    </div>    
    <div class="destinatario">
        <div class="info-cliente">
            <h3 class="sub-titulo">Cliente</h3>
            <p><span>Nombre: </span>@Html.DisplayFor(model => model.Nombre)</p>
            <p><span>Cédula: </span>@Html.DisplayFor(model => model.Cedula)</p>
            <p><span>Dirección: </span>@Html.DisplayFor(model => model.Direccion)</p>
            <p><span>Teléfono: </span>@Html.DisplayFor(model => model.Telefono)</p>
            <p><span>Correo: </span>@Html.DisplayFor(model => model.Correo)</p>
        </div>
        <div class="info-envio">
            <h3 class="sub-titulo">Enviar a</h3>
            <p><span>Nombre: </span>@Html.DisplayFor(model => model.Nombre)</p>
            <p><span>Cédula: </span>@Html.DisplayFor(model => model.Cedula)</p>
            <p><span>Dirección: </span>@Html.DisplayFor(model => model.Direccion)</p>
            <p><span>Teléfono: </span>@Html.DisplayFor(model => model.Telefono)</p>            
        </div>
    </div>   
    
        @if (Model.Estado != "Pendiente" && Model.Estado != "Cancelado")
        {
            <div class="comprobante">    
                @if (Model.ImageName == null)
                {
                    <form asp-action="AgregarComprobante" enctype="multipart/form-data" id="form" method="post">

                        <div class="form-group">
                            <input asp-for="IdPedido" class="form-control" type="hidden" />
                        </div>
                        <div class="form-group">
                            <input asp-for="ImageName" class="form-control" type="hidden" />

                        </div>
                        <div class="file-select" id="src-file1">
                            <p>Subir Comprobante</p>
                            <input name="ImageFile" accept="image/*" type="file" id="Imagen">
                        </div>

                    </form>
                }
                else
                {
                    <button class="verComprobante" onclick="VerComprobante('/comprobantes/@Html.DisplayFor(model => model.ImageName)')">Ver comprobante</button>
                }
            </div>
        }
</div>

<div class="detalle-pedido">
    <div class="registros">
        <table id="" class="table table-hover ">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>IVA</th>
                    <th>Subtotal</th>                                       
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.DetallePedidos)
                {                   
                    <tr>
                        <td>
                            @item.Producto
                        </td>
                        <td>
                            @item.Cantidad
                        </td>
                        <td class="numeros">
                            @item.Subtotal
                        </td>
                        <td class="numeros">
                            @item.TotalIva
                        </td>
                        <td class="numeros">
                            @item.Total
                        </td>  
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="totales">
        <p>Total Iva: <span>@Html.DisplayFor(model => model.TotalIva)</span></p>
        <p class="total-factura">Total Factura: <span>@Html.DisplayFor(model => model.Total)</span></p>
    </div>
</div>


@section Scripts{

    <script>
        @if (Model.ImageName == null) {
            <text>
        const $imagenSeleccionada = document.querySelector("#Imagen");

        $imagenSeleccionada.addEventListener("change", () => {

            const archivos = $imagenSeleccionada.files;
            const primerArchivo = archivos[0];
            const objectURL = URL.createObjectURL(primerArchivo);

            Swal.fire({
                title: '¿Subir comprobante?',
                imageUrl: objectURL,
                imageAlt: 'Comprobante',
                showCancelButton: true,
                confirmButtonText: 'Subir Comprobante'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('form').submit();
                } else {
                    document.getElementById('Imagen').value = null;
                }
            });
        });
        </text>
        }
            

        function VerComprobante(ruta) {
            Swal.fire({
                imageUrl: ruta,

            });
        };


        @if (TempData["Comprobante"] != null && TempData["Comprobante"].ToString().Equals("si"))
         {
            <text>

            Swal.fire({
                icon: 'success',
                title: 'Comprobante guardado con éxito',
                html: ''
            });

            </text>
         }

    </script>
}
