
@model IEnumerable<ToroCreativo.Models.Entities.Pedido>
@{
    Layout = "_LayoutCliente";

}

@section Styles{
    <link href="~/css/Pedido-cliente.css" rel="stylesheet" />
    <link href="~/css/pedidos.css" rel="stylesheet" />
}

<article>
    <div class="container">
        <div class="titulo">
            <h1>MIS COMPRAS </h1>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="primer-nav-tab" data-toggle="tab" href="#primer-nav" role="tab"
                   aria-controls="primer-nav" aria-selected="true">Ventas enviadas</a>
                <a class="nav-item nav-link" id="segundo-nav-tab" data-toggle="tab" href="#segundo-nav" role="tab"
                   aria-controls="segundo-nav" aria-selected="false">Ventas por enviar</a>
            </div>
        </nav>

        <div class="gestion">
            <div class="tab-content" id="nav-tabContent">

                <!-- Contenido primer nav -->
                <div class="tab-pane fade show active" id="primer-nav" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div class="registros">
                        <table id="tabla" class="table table-hover ">
                            <thead class="tabla">
                                <tr>
                                    <th>Fecha Venta</th>
                                    <th>@Html.DisplayNameFor(model => model.Cedula)</th>
                                    <th>@Html.DisplayNameFor(model => model.Nombre) @Html.DisplayNameFor(model => model.Apellido)</th>
                                    <th>@Html.DisplayNameFor(model => model.Total)</th>
                                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                                    <th></th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.FechaVenta)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellido)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                                        

                                        <td>
                                            <a asp-action="DetalleVentasCliente" asp-route-id="@item.IdPedido"><i class="fas fa-search-plus" title="detalle registro"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Contenido segundo nav -->
                <div class="tab-pane fade show" id="segundo-nav" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="registros">
                        <table id="tabla2" class="table table-hover ">
                            <thead class="tabla">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Cédula</th>
                                    <th>Nombre Cliente</th>
                                    <th>Total</th>
                                    <th>Estado</th>
                                    <th></th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.SinEnviados)
                                {
                                    <tr>
                                        <td>@item.FechaVenta</td>
                                        <td>@item.Cedula</td>
                                        <td>@item.Nombre @item.Apellido</td>
                                        <td>@item.Total</td>
                                        <td>@item.Estado</td>
                                       
                                        <td>
                                            <a asp-action="DetalleVentasCliente" asp-route-id="@item.IdPedido"><i class="fas fa-search-plus" title="detalle registro"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</article>
