@model IEnumerable<ToroCreativo.Clases.IlustracionVistaCliente>

@{
    Layout = "_LayoutCliente";
    ViewData["Title"] = "- Ilustraciones";

    var subImagenes = ViewBag.Imagenes;
}
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@section Styles{
    <link rel="stylesheet" href="~/css/ilustraciones-cliente.css" />
    <link rel="stylesheet" href="~/css/estilos-generales.css" />
}
<div class="ilustraciones-cliente">
    <div class="encabezado">
        <h1>Ilustraciones</h1>
        <div class="generos">
            <a asp-action="IlustracionesCliente" asp-route-id="">Todas</a>
            @foreach (var categoria in ViewBag.Generos)
            {
                <a asp-action="IlustracionesCliente" asp-route-id="@categoria.idGenero">@categoria.Nombre</a>
            }

        </div>
    </div>
    <div class="galeria">
        @foreach (var item in Model)
        {
            <div class="ilustracion ampliar" idIlustracion="@item.IdIlustracion" Nombre="@item.Nombre" Descripcion="@item.Descripcion">
                <img src="@("~/imgIlustraciones/" + item.ImageName)" asp-append-version="true" />

            </div>
        }

    </div>
</div>

<div class="ilustracion-modal" id="modal" >
    <div class="ilustracion">
        <div class="imagenes" id="imagen">
        </div>
        <div class="sub-imagenes">
        </div>
    </div>
    <div class="informacion">
        <i onclick="" class="fas fa-times-circle" title="Cerrar" id="cerrar"></i>
        <div class="nombre">
            <h2 id="nombre"></h2>
        </div>
        <div class="descripcion">
            <h3 class="title">Descripción: </h3>
            <p id="descripción">Descripcion</p>
        </div>
        @if (TempData["Usuario"] != null)
        {
            <div class="seccion-comentarios">
                <div id="verComentarios">
                    <p>Comentarios <i class="fas fa-chevron-up"></i></p>
                </div>
                <div id="comentarios">

                </div>
                <div class="enviarComentario">
                    <form asp-action="CrearEditar" asp-controller="Comentarios" id="myForm" method="post" enctype="multipart/form-data">
                        <input name="IdIlustracion" id="idIlustracion" type="hidden" value="0" />
                        <input name="Texto" type="text" placeholder="Hacer un comentario." class="comments"/>                        
                        <button type="submit" ><i class="fas fa-paper-plane"></i></button>                        
                    </form>
                </div>
            </div>
        }
    </div>
</div>
<div class="capa" id="capa"></div>
@section Scripts{
    <script>
        var idIlustracion = $(this).attr('idIlustracion') ;
        $(document).ready(function () {
            $(".seccion-comentarios").css("display", "none");
            var imagenesJSON = JSON.parse('@Html.Raw(subImagenes)');            
            $(".ampliar").click(function () {                
                $(".seccion-comentarios").css("display", "block");
                idIlustracion = $(this).attr('idIlustracion')
                $("#idIlustracion").val(idIlustracion);
                console.log($("#idIlustracion").val());
             
                $('#nombre').text($(this).attr('Nombre'));
                $('#descripción').text($(this).attr('Descripcion'));
                $(".imagenes").empty();
                $(".sub-imagenes").empty();               
                var idSubImagen = 0;
                var idImagen = 0;                
                    for (var i = 0; i < imagenesJSON.length; i++) {
                        if (imagenesJSON[i].IdIlustracion == idIlustracion) {
                            idSubImagen += 10;
                            idImagen++;
                            if (imagenesJSON[i].Estado == 'Principal') {
                                $(".imagenes").append('<img class="img active" src="../imgIlustraciones/' + imagenesJSON[i].ImageName + '" id="' + idImagen + '" />');
                            }
                            else {
                                $(".imagenes").append('<img class="img" src="../imgIlustraciones/' + imagenesJSON[i].ImageName + '" id="' + idImagen + '" />');
                            }
                            $(".sub-imagenes").append('<div class="sub-imagen"><img class="sub-img" src="../imgIlustraciones/'+imagenesJSON[i].ImageName+'" id="'+idSubImagen+'"/></div >');
                        }
                    }
                    $("#capa").addClass("active");
                    $("#modal").addClass("active");
                });

            $("#cerrar").click(function () {
                $(".seccion-comentarios").css("display", "none");
                $(".seccion-comentarios").removeClass("active");
                $('#comentarios').empty();                
                $("#capa").removeClass("active");
                $("#modal").removeClass("active");
            });

            $(document).on("click", ".sub-img", function () {
                var id = $(this).attr("id");
                var idImagen = id / 10;
                var imagen = document.getElementById(idImagen);
                var imagenPrincipal = document.getElementsByClassName("img active");
                $(imagenPrincipal).removeClass("active");
                $(imagen).addClass("active");
            });

            $("#verComentarios").click(function () {
                var clase = $(".seccion-comentarios").attr("class");
                if (clase.includes("active")) {                    
                    $(".seccion-comentarios").removeClass("active");
                    $('#comentarios').empty();
                }
                else{
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "../../Comentarios/ObtenerComentarios",
                        traditional: true,
                        contentType: "application/json;charset=utf-8",
                        data: 'id=' + idIlustracion,
                        success: function (data) {
                            console.log(data);
                            $(".seccion-comentarios").addClass("active");
                            for (var i = 0; i < data.length; i++) {
                                $('#comentarios').append('<div class="comentario-contenido">\n\
                                        <div class="encabezado"><p><span>'+ data[i].correo + '</span>' + data[i].fecha + ' </p></div>\n\
                                        <div class="cuerpo"><p>' + data[i].texto +'</p></div>\n\
                                    </div >');
                            }
                        },
                    });
                }
                
            })
        });
        function AjaxFormSubmit() {

            var formData = new FormData();
            formData.append("texto", $(".comments").val());

            formData.append("idilustracion", idIlustracion);
            formData.append("idcomentario", 0);

            $.ajax({
                type: 'POST',
                url: '../../Comentarios/CrearEditar',
                data: formData,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.Status === "success") {
                    $("#lblName").html(response.Name);
                }
            });
        }
    </script>
    <script type="text/javascript">
       
        
        
         
            
            
    </script>
}
