@model IEnumerable<ToroCreativo.Clases.IlustracionVistaCliente>

@{
    Layout = "_LayoutCliente";
    ViewData["Title"] = "- Ilustraciones";

    var subImagenes = ViewBag.Imagenes;
}
@section Styles{
    <link rel="stylesheet" href="~/css/ilustraciones-cliente.css" />
    <link rel="stylesheet" href="~/css/estilos-generales.css" />
}
<div class="ilustraciones-cliente">
    <div class="encabezado">
        <h1>Ilustraciones</h1>
        <div class="generos">
            <a asp-action="IlustracionesCliente" asp-route-id="">Todas</a>
            @foreach (var categoria in ViewBag.Generos)
            {
                <a asp-action="IlustracionesCliente" asp-route-id="@categoria.idGenero">@categoria.Nombre</a>
            }

        </div>
    </div>
    <div class="galeria">
        @foreach (var item in Model)
        {
            <div class="ilustracion ampliar" idIlustracion="@item.IdIlustracion" Nombre="@item.Nombre" Descripcion="@item.Descripcion">
                <img src="@("~/imgIlustraciones/" + item.ImageName)" asp-append-version="true" />

            </div>
        }

    </div>
</div>

<div class="ilustracion-modal" id="modal">
    <div class="ilustracion">
        <div class="imagenes" id="imagen">                   
        </div>
        <div class="sub-imagenes">
        </div>
    </div>    
    <div class="informacion">
        <i onclick="" class="fas fa-times-circle" title="Cerrar" id="cerrar"></i>
        <div class="nombre">
            <h2 id="nombre">Nombre</h2>
        </div>
        <div class="descripcion">
            <h3 class="title">Descripción: </h3>
            <p id="descripción">Descripcion</p>
        </div>
    </div>
</div>
<div class="capa" id="capa"></div>
@section Scripts{
    <script>

        $(document).ready(function () {                    
            var imagenesJSON = JSON.parse('@Html.Raw(subImagenes)');            
            $(".ampliar").click(function () {
                var Nombre = $(this).attr('Nombre');
                var Descripción = $(this).attr('Descripcion');
                $('#nombre').text(Nombre);
                $('#descripción').text(Descripción);
                $(".imagenes").empty();
                $(".sub-imagenes").empty();
                var idSubImagen = 0;
                var idImagen = 0;
                var idIlustracion = $(this).attr('idIlustracion');
                    for (var i = 0; i < imagenesJSON.length; i++) {
                        if (imagenesJSON[i].IdIlustracion == idIlustracion) {
                            idSubImagen += 10;
                            idImagen++;
                            if (imagenesJSON[i].Estado == 'Principal') {
                                $(".imagenes").append('<img class="img active" src="../imgIlustraciones/' + imagenesJSON[i].ImageName + '" id="' + idImagen + '" />');
                            }
                            else {
                                $(".imagenes").append('<img class="img" src="../imgIlustraciones/' + imagenesJSON[i].ImageName + '" id="' + idImagen + '" />');
                            }
                            $(".sub-imagenes").append('<div class="sub-imagen"><img class="sub-img" src="../imgIlustraciones/'+imagenesJSON[i].ImageName+'" id="'+idSubImagen+'"/></div >');
                        }
                    }
                    $("#capa").addClass("active");
                    $("#modal").addClass("active");
                });

                $("#cerrar").click(function () {
                    $("#capa").removeClass("active");
                    $("#modal").removeClass("active");
                });

            $(document).on("click", ".sub-img", function () {
                    var id = $(this).attr("id");
                    var idImagen = id / 10;
                    var imagen = document.getElementById(idImagen);
                    var imagenPrincipal = document.getElementsByClassName("img active");
                    $(imagenPrincipal).removeClass("active");
                    $(imagen).addClass("active");
                });
            })
    </script>
}
