@model IEnumerable<ToroCreativo.Clases.IlustracionDetalle>

@{
    ViewData["Title"] = "Index";
}

<div class="titulo">
    <h1>Sistema Administrativo <span>Ilustraciones</span> </h1>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="primer-nav-tab" data-toggle="tab" href="#primer-nav" role="tab"
           aria-controls="primer-nav" aria-selected="true">Ilustraciones</a>
        <a class="nav-item nav-link" id="segundo-nav-tab" data-toggle="tab" href="#segundo-nav" role="tab"
           aria-controls="segundo-nav" aria-selected="false">Géneros</a>
    </div>
</nav>


<div class="gestion">
    <div class="tab-content" id="nav-tabContent">

        <!-- Contenido primer nav -->
        <div class="tab-pane fade show active" id="primer-nav" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="registros">
                <table id="tabla" class="table table-hover ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th>
                                <a asp-action="CrearEditarIlustracion"><i class="fas fa-plus" title="Agregar registro"></i></a>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genero)
                                </td>
                                <td>
                                    @if (item.Estado.Equals("Habilitado"))
                                    {
                                        <p class="text-success">@Html.DisplayFor(modelItem => item.Estado)</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">@Html.DisplayFor(modelItem => item.Estado)</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Estado.Equals("Habilitado"))
                                    {
                                        <i onclick="CambiarEstadoIlustracion(@item.IdIlustracion , '@item.Nombre')" class="fas fa-check-circle text-success" title="Cambiar"></i>
                                    }
                                    else
                                    {
                                        <i onclick="CambiarEstadoIlustracion(@item.IdIlustracion , '@item.Nombre')" class="fas fa-times-circle text-danger" title="Cambiar"></i>
                                    }

                                </td>

                                <td>
                                    <a asp-action="CrearEditarIlustracion" asp-route-id="@item.IdIlustracion">
                                        <i class="fas fa-edit" title="Editar registro"></i>
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="DetalleIlustracion" asp-route-id="@item.IdIlustracion">
                                        <i class="fas fa-search-plus" title="detalle registro"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Contenido segundo nav -->
        <div class="tab-pane fade show" id="segundo-nav" role="tabpanel" aria-labelledby="nav-profile-tab">            

            <div class="registros">
                <table id="tabla2" class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>
                                <a asp-action="CrearEditarGenero"><i class="fas fa-plus" title="Agregar registro"></i></a>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var generos in ViewBag.Generos)
                        {
                            <tr>
                                <td>
                                    @generos.Nombre
                                </td>
                                <td>
                                    @if (generos.Estado.Equals("Habilitado"))
                                    {
                                        <p class="text-success">@generos.Estado</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">@generos.Estado</p>
                                    }

                                </td>
                                <td>
                                    @if (generos.Estado.Equals("Habilitado"))
                                    {
                                        <i onclick="CambiarEstadoGenero(@generos.idGenero, '@generos.Nombre')" class="fas fa-check-circle text-success" title="Cambiar"></i>
                                    }
                                    else
                                    {
                                        <i onclick="CambiarEstadoGenero(@generos.idGenero, '@generos.Nombre')" class="fas fa-times-circle text-danger" title="Cambiar"></i>
                                    }

                                </td>
                                <td>
                                    <a asp-action="CrearEditarGenero" asp-route-id="@generos.idGenero">
                                        <i class="fas fa-edit" title="Editar registro"></i>
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="DetalleGenero" asp-route-id=" @generos.idGenero">
                                        <i class="fas fa-search-plus" title="detalle registro"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>                    
                </table>
            </div>

        </div>

    </div>
</div>


@section Scripts{

    <script>

        @if (TempData["Cambiar"] != null && TempData["Cambiar"].ToString().Equals("no"))
        {
            <text>

            Swal.fire({
                icon: 'error',
                title: 'No se puede cambiar el estado',
                html: 'El género seleccionado cuenta con ilustraciones habilitados, si desea realizar esta acción deberá deshabilitar todas las ilustraciones asociados a este género'
            });

            </text>
        }


        @if(TempData["Editar"] != null && TempData["Editar"].ToString().Equals("no")) {
            <text>

                Swal.fire({
                    icon: 'error',
                    title: 'No se puede editar el registro',
                    html: 'El género seleccionado cuenta con ilustraciones habilitados, si desea realizar esta acción deberá deshabilitar todas las ilustraciones asociados a este género'                    
                  });

                 </text>
        }

    </script>
}










