@model IEnumerable<ToroCreativo.Clases.IlustracionDetalle>
@{
    ViewData["Title"] = "- Detalle " + ViewBag.Genero.Nombre;
}

<link rel="stylesheet" href="~/css/estilosgeneralesdetalle.css" />
<div class="titulo titulo-detalle">
    <h1>@ViewBag.Genero.Nombre</h1>
</div>

<div class="gestion">
    <h2>Ilustraciones </h2>
    <div class="registros">
        <table id="tabla" class="table table-hover ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        <a asp-action="CrearEditar" class="text-dark"><i class="fas fa-plus"></i></a>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="imagen" src="@("~/imgIlustraciones/"+item.ImageName)" asp-append-version="true" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genero)
                        </td>
                        <td>
                            @if (item.Estado.Equals("Habilitado"))
                            {
                                <p class="text-success">@Html.DisplayFor(modelItem => item.Estado)</p>
                            }
                            else
                            {
                                <p class="text-danger">@Html.DisplayFor(modelItem => item.Estado)</p>
                            }

                        </td>

                        <td>
                            @if (item.Estado.Equals("Habilitado"))
                            {
                                <a asp-action="CambiarEstado" asp-route-id="@item.IdIlustracion">
                                    <i class="fas fa-check-circle text-success" title="Cambiar"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-action="CambiarEstado" asp-route-id="@item.IdIlustracion">
                                    <i class="fas fa-times-circle text-danger" title="Cambiar"></i>
                                </a>
                            }

                        </td>
                        <td>
                            <a asp-action="CrearEditar" class="text-dark" asp-route-id="@item.IdIlustracion"><i class="fas fa-edit"></i></a>

                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.IdIlustracion">
                                <i class="fas fa-search-plus" title="detalle registro"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

