@model IEnumerable<ToroCreativo.Models.Entities.Precio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idPrecios">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idPrecios">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idPrecios">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
