@model ToroCreativo.Models.Entities.Productos

@{
    ViewData["Title"] = "DetalleProducto";
    TempData["idproducto"] = Model.idProductos;
}
<link rel="stylesheet" href="~/css/detalleproducto.css" />
<article>
    <div class="container">
        <div class="producto">
            <div class="imagen">
                @if (ViewBag.Imagen != null)
                {
                    <img src="@("~/imgProductos/"+ViewBag.Imagen)" asp-append-version="true" />
                }

            </div>
            <div class="info">
                <div class="principal">
                    <h3>@Html.DisplayFor(model => model.Nombre)</h3>
                    <a class="text-dark" asp-action="AgregarImagen" asp-route-id="@Model.idProductos">
                        <i class="fas fa-plus"></i>
                    </a>
                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                </div>
                <div class="sub-principal">
                    <ul>
                        <li><span>@Html.DisplayNameFor(model => model.Categoria): </span>@ViewData["categoria"]</li>
                        <li><span>Precio Venta:</span> @ViewData["precioTotal"]</li>
                        <li>
                            <span>Unidades:</span>
                            @foreach (var medidas in ViewBag.Caracteristicas)
                            {
                                <span style="font-weight: 100;" class="unidades"> @medidas.Medida </span>
                            }
                        </li>
                        <li class="colores">
                            <span>Color:</span>
                            @foreach (var colores in ViewBag.Caracteristicas)
                            {
                                <div class="color" style="background-color: @colores.Color;"></div>
                            }
                        </li>
                        <li><span>@Html.DisplayNameFor(model => model.Estado):</span> @Html.DisplayFor(model => model.Estado)</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="gestion">
            <div id="caracteristicas">
                <h4>Características</h4>
                <div class="formulario">
                    <h2>Crear Caracteristica</h2>
                    <form action="">
                        <input type="color" class="form-control" required>
                        <input type="number" class="form-control" placeholder="Medida" required>
                        <a class="boton cancelar">Cancelar</a>
                        <button type="submit" class="boton crear">Crear</button>
                    </form>
                </div>
                <div class="registros">
                    <table id="tabla" class="table table-hover ">
                        <thead>
                            <tr>
                                <th>Color</th>
                                <th>Medida</th>
                                <th>Estado</th>
                                <th>
                                    <a asp-controller="Caracteristicas" asp-action="Crear" asp-route-id="@Model.idProductos">
                                        <i class="fas fa-plus" title="Agregar registro"></i>
                                    </a>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var caracteristica in ViewBag.Caracteristicas)
                            {
                                <tr>
                                    <td>
                                        <div class="color-tabla" style="background-color: @caracteristica.Color;"></div>
                                    </td>
                                    <td>@caracteristica.Medida</td>
                                    <td>
                                        @if (caracteristica.Estado.Equals("Habilitado"))
                                        {
                                            <p class="text-success">@caracteristica.Estado</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">@caracteristica.Estado</p>
                                        }

                                    </td>
                                    <td>
                                        @if (caracteristica.Estado.Equals("Habilitado"))
                                        {
                                            <a asp-controller="Caracteristicas" asp-action="CambiarEstadoCaracteristica" onclick="return CambiarEstadoRegistro()" asp-route-id="@caracteristica.idCaracteristicas">
                                                <i class="fas fa-check-circle text-success" title="Cambiar"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Caracteristicas" asp-action="CambiarEstadoCaracteristica" onclick="return CambiarEstadoRegistro()" asp-route-id="@caracteristica.idCaracteristicas">
                                                <i class="fas fa-times-circle text-danger" title="Cambiar"></i>
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Caracteristicas" asp-action="Editar" asp-route-id="@caracteristica.idCaracteristicas">
                                            <i class="fas fa-edit" title="Editar registro"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Entrada" asp-action="Crear" asp-route-id="@caracteristica.idCaracteristicas">
                                            <i class="fas fa-cart-plus" title="Agregar Entrada"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="precios">
                <h4>Historial Precio</h4>
                <div class="formulario precios">
                    <h2>Crear Historial</h2>
                    <form action="">
                        <input type="number" class="form-control" placeholder="Precio" required>
                        <a class="boton cancelar">Cancelar</a>
                        <button type="submit" class="boton crear">Crear</button>
                    </form>
                </div>
                <div class="registros">
                    <table id="tabla3" class="table table-hover ">
                        <thead>
                            <tr>
                                <th>Fecha Inicial</th>
                                <th>Fecha final</th>
                                <th>Precio (Sin Iva)</th>
                                <th>
                                    <a asp-controller="Precios" asp-action="Crear" asp-route-id="@Model.idProductos">
                                        <i class="fas fa-plus" title="Agregar registro"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var precios in ViewBag.Precios)
                            {
                                <tr>
                                    <td>@precios.F_Inicio</td>
                                    <td>@precios.F_Fin</td>
                                    <td>@precios.Valor</td>
                                    <td>
                                        @if (precios.Estado.Equals("Valido"))
                                        {
                                            <a asp-controller="Precios" asp-action="Editar" asp-route-id="@precios.idPrecios">
                                                <i class="fas fa-edit" title="Editar registro"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>

                            }
                    </table>
                </div>
            </div>
            <div id="iva">
                <h4>Historial Iva</h4>
                <div class="formulario iva">
                    <h2>Crear Iva</h2>
                    <form action="">
                        <input type="number" class="form-control" value="30.000" required>
                        <input type="number" class="form-control" placeholder="Porcentaje Iva" required>
                        <input type="number" class="form-control" placeholder="Precio total" readonly required>
                        <a class="boton cancelar">Cancelar</a>
                        <button type="submit" class="boton crear">Crear</button>
                    </form>
                </div>
                <div class="registros">
                    <table id="tabla2" class="table table-hover ">
                        <thead>
                            <tr>
                                <th>Fecha Inicial</th>
                                <th>Fecha final</th>
                                <th>Porcentaje</th>
                                <th>
                                    <a asp-controller="Ivas" asp-action="Crear" asp-route-id="@Model.idProductos">
                                        <i class="fas fa-plus" title="Agregar registro"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ivas in ViewBag.Ivas)
                            {
                                <tr>
                                    <td>@ivas.F_Inicio</td>
                                    <td>@ivas.F_Fin</td>
                                    <td>@ivas.IVA%</td>
                                    <td>
                                        @if (ivas.Estado.Equals("Valido"))
                                        {
                                            <a asp-controller="Ivas" asp-action="Editar" asp-route-id="@ivas.idIva">
                                                <i class="fas fa-edit" title="Editar registro"></i>
                                            </a>
                                        }
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="entradas">
                <h4>Historial Entradas</h4>
                <div class="formulario entradas">
                    <h2>Crear Entrada</h2>
                    <form action="">
                        <input type="number" class="form-control" placeholder="Cantidad" required>
                        <input type="number" class="form-control" placeholder="Unidad Medida" readonly required>
                        <input type="color" class="form-control" readonly required>
                        <a class="boton cancelar">Cancelar</a>
                        <button type="submit" class="boton crear">Crear</button>
                    </form>
                </div>
                <div class="registros">
                    <table id="tabla4" class="table table-hover ">
                        <thead>
                            <tr>
                                <th>Fecha Entrada</th>
                                <th>Cantidad</th>
                                <th>Unidad Medida</th>
                                <th>Color</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var entradas in ViewBag.Entradas)
                            {
                                <tr>
                                    <td>@entradas.F_Inicio</td>

                                    <td>@entradas.Cantidad</td>
                                    @foreach (var caracteristica in ViewBag.Caracteristicas)
                                    {
                                        if (caracteristica.idCaracteristicas == entradas.Caracteristica)
                                        {
                                            <td>@caracteristica.Medida</td>
                                            <td>
                                                <div class="color-tabla" style="background-color: @caracteristica.Color;"></div>
                                            </td>
                                        }
                                    }
                                    <td>
                                        @if (entradas.Estado.Equals("Valido"))
                                        {
                                            <a asp-controller="Entrada" asp-action="Editar" asp-route-id="@entradas.idEntrada">
                                                <i class="fas fa-edit" title="Editar registro"></i>
                                            </a>
                                        }
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>

@section Scripts{

    <script>

        @if(TempData["editar"] != null && TempData["editar"].ToString().Equals("si")) {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: '¡Se editó correctamente el registro!',
                    showConfirmButton: false,
                    timer: 1250
                })
            </text>
        }

         @if(TempData["guardar"] != null && TempData["guardar"].ToString().Equals("si")) {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: '¡Se guardó correctamente el registro!',
                    showConfirmButton: false,
                    timer: 1250
                })
            </text>
        }
          @if(TempData["guardarHistorial"] != null && TempData["guardarHistorial"].ToString().Equals("si")) {
            <text>
                Swal.fire({
                    title: '¡Se guardó correctamente el registro!',
                    icon: 'success',
                    showConfirmButton: true                  
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: '¡Historial Nuevo!',
                            icon: 'info',
                            showConfirmButton: true,
                            html: 'El registro que se acaba de crear hace parte del historial del producto, para un mayor control contará con 5 minutos para poder editar el registro en caso tal de que sea necesario, después del tiempo estimado no podrá editarlo'
                        })                        
                    }
                });
            </text>
        }
    </script>
}










