@model ToroCreativo.Models.Entities.Productos

@{
    ViewData["Title"] = "DetalleProducto";
    TempData["idproducto"] = Model.idProductos;
}
<link rel="stylesheet" href="~/css/detalleproducto.css" />
<article>
    <div class="container">
        <div class="producto">
            <div class="imagen">
                @if (ViewBag.Imagen != null)
                {
                    <img src="@("~/imgProductos/"+ViewBag.Imagen)" asp-append-version="true" />
                }

            </div>
            <div class="info">
                <div class="principal">
                    <h3>@Html.DisplayFor(model => model.Nombre)</h3>
                    <a class="text-dark" asp-action="AgregarImagen" asp-route-id="@Model.idProductos">
                        <i class="fas fa-plus"></i>
                    </a>
                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                </div>
                <div class="sub-principal">
                    <ul>
                        <li><span>@Html.DisplayNameFor(model => model.Categoria): </span>@ViewData["categoria"]</li>
                        <li><span>Precio Venta:</span> @ViewData["precioTotal"]</li>
                        <li>
                            <span>Unidades:</span>
                            @foreach (var medidas in ViewBag.TamañosInfo)
                            {
                                <span style="font-weight: 100;" class="unidades"> @medidas.Medida </span>
                            }
                        </li>
                        <li class="colores">
                            <span>Color:</span>
                            @foreach (var colores in ViewBag.CaracteristicasInfo)
                            {
                                <div class="color" style="background-color: @colores.Color;"></div>
                            }
                        </li>
                        <li><span>@Html.DisplayNameFor(model => model.Estado):</span> @Html.DisplayFor(model => model.Estado)</li>
                    </ul>
                </div>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="primer-nav-tab" data-toggle="tab" href="#primer-nav" role="tab"
                   aria-controls="primer-nav" aria-selected="true">Características</a>
                <a class="nav-item nav-link" id="segundo-nav-tab" data-toggle="tab" href="#segundo-nav" role="tab"
                   aria-controls="segundo-nav" aria-selected="false">Historial Precio</a>
                <a class="nav-item nav-link" id="tercer-nav-tab" data-toggle="tab" href="#tercer-nav" role="tab"
                   aria-controls="tercer-nav" aria-selected="true">Historial Iva</a>
                <a class="nav-item nav-link" id="cuarto-nav-tab" data-toggle="tab" href="#cuarto-nav" role="tab"
                   aria-controls="cuarto-nav" aria-selected="true">Historial Entradas</a>
            </div>
        </nav>

        <div class="gestion">
            <div class="tab-content" id="nav-tabContent">

                <!-- Contenido primer nav -->
                <div class="tab-pane fade show active" id="primer-nav" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div class="registros">
                        <table id="tabla" class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Color</th>
                                    <th>Medida</th>
                                    <th>Cantidad Actual</th>
                                    <th>Estado</th>
                                    <th>
                                        <a asp-controller="Caracteristicas" asp-action="Crear" asp-route-id="@Model.idProductos">
                                            <i class="fas fa-plus" title="Agregar registro"></i>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var caracteristica in ViewBag.Caracteristicas)
                                {
                                    <tr>
                                        <td>
                                            <div class="color-tabla" style="background-color: @caracteristica.Color;"></div>
                                        </td>
                                        <td>@caracteristica.Medida</td>
                                        <td>@caracteristica.Cantidad</td>
                                        <td>
                                            @if (caracteristica.Estado.Equals("Habilitado"))
                                            {
                                                <p class="text-success">@caracteristica.Estado</p>
                                            }
                                            else
                                            {
                                                <p class="text-danger">@caracteristica.Estado</p>
                                            }

                                        </td>
                                        <td>
                                            @if (caracteristica.Estado.Equals("Habilitado"))
                                            {
                                                <i onclick="CambiarEstadoCaracteristica(@caracteristica.idCaracteristicas)" class="fas fa-check-circle text-success" title="Cambiar"></i>
                                            }
                                            else
                                            {
                                                <i onclick="CambiarEstadoCaracteristica(@caracteristica.idCaracteristicas)" class="fas fa-times-circle text-danger" title="Cambiar"></i>
                                            }
                                        </td>
                                        <td>
                                            <a asp-controller="Caracteristicas" asp-action="Editar" asp-route-id="@caracteristica.idCaracteristicas">
                                                <i class="fas fa-edit" title="Editar registro"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-controller="Entrada" asp-action="Crear" asp-route-id="@caracteristica.idCaracteristicas">
                                                <i class="fas fa-cart-plus" title="Agregar Entrada"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Contenido segundo nav -->
                <div class="tab-pane fade show" id="segundo-nav" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="registros">
                        <table id="tabla2" class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha final</th>
                                    <th>Precio (Sin Iva)</th>
                                    <th>
                                        <a asp-controller="Precios" asp-action="Crear" asp-route-id="@Model.idProductos">
                                            <i class="fas fa-plus" title="Agregar registro"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var precios in ViewBag.Precios)
                                {
                                    <tr>
                                        <td>@precios.F_Inicio</td>
                                        <td>@precios.F_Fin</td>
                                        <td>@precios.Valor</td>
                                        <td>
                                            @if (precios.Estado.Equals("Valido"))
                                            {
                                                <a asp-controller="Precios" asp-action="Editar" asp-route-id="@precios.idPrecios">
                                                    <i class="fas fa-edit" title="Editar registro"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade show" id="tercer-nav" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="registros">
                        <table id="tabla3" class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha final</th>
                                    <th>Porcentaje</th>
                                    <th>
                                        <a asp-controller="Ivas" asp-action="Crear" asp-route-id="@Model.idProductos">
                                            <i class="fas fa-plus" title="Agregar registro"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ivas in ViewBag.Ivas)
                                {
                                    <tr>
                                        <td>@ivas.F_Inicio</td>
                                        <td>@ivas.F_Fin</td>
                                        <td>@ivas.IVA%</td>
                                        <td>
                                            @if (ivas.Estado.Equals("Valido"))
                                            {
                                                <a asp-controller="Ivas" asp-action="Editar" asp-route-id="@ivas.idIva">
                                                    <i class="fas fa-edit" title="Editar registro"></i>
                                                </a>
                                            }
                                        </td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade show" id="cuarto-nav" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="registros">
                        <table id="tabla4" class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Fecha Entrada</th>
                                    <th>Cantidad Inicial</th>
                                    <th>Cantidad Actual</th>
                                    <th>Unidad Medida</th>
                                    <th>Color</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var entradas in ViewBag.Entradas)
                            {
                                <tr>
                                    <td>@entradas.F_Inicio</td>

                                    <td>@entradas.CantidadInicial</td>
                                    <td>@entradas.CantidadActual</td>
                                    @foreach (var caracteristica in ViewBag.Caracteristicas)
                                    {
                                        if (caracteristica.idCaracteristicas == entradas.Caracteristica)
                                        {
                                            <td>@caracteristica.Medida</td>
                                            <td>
                                                <div class="color-tabla" style="background-color: @caracteristica.Color;"></div>
                                            </td>
                                        }
                                    }
                                    <td>
                                        @if (entradas.Estado.Equals("Valido"))
                                        {
                                            <a asp-controller="Entrada" asp-action="Editar" asp-route-id="@entradas.idEntrada">
                                                <i class="fas fa-edit" title="Editar registro"></i>
                                            </a>
                                        }
                                    </td>

                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>

@section Scripts{

    <script>


          @if(TempData["guardarHistorial"] != null && TempData["guardarHistorial"].ToString().Equals("si")) {
            <text>
                Swal.fire({
                    title: '¡Se guardó correctamente el registro!',
                    icon: 'success',
                    showConfirmButton: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: '¡Historial Nuevo!',
                            icon: 'info',
                            showConfirmButton: true,
                            html: 'El registro que se acaba de crear hace parte del historial del producto, para un mayor control contará con 5 minutos para poder editar el registro en caso tal de que sea necesario, después del tiempo estimado no podrá editarlo'
                        })
                    }
                });
            </text>
        }

        @if (TempData["Cambiar"] != null && TempData["Cambiar"].ToString().Equals("no"))
         {
                <text>

                Swal.fire({
                    icon: 'error',
                    title: 'No se puede cambiar el estado',
                    html: 'La característica seleccionada cuenta con pedidos en proceso, deberá de solucionar el estado de los pedidos con esa característica para poder realizar esta acción'
                });

                </text>
         }
    </script>
}










