@model ToroCreativo.Models.Entities.Productos

@{
    Layout = "_LayoutCliente";
    ViewData["Title"] = "Index";

    int idImagen = 1;
    int idSubImagen = 10;
    var caracteristicas = ViewBag.Caracteristicas;
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/producto-detalle.css" />
}


<div class="producto">
    <input type="hidden" id="idproducto" value="@Html.DisplayFor(model => model.idProductos)" for="idproducto">
    <div class="sub-imagenes">
        @foreach (var img in ViewBag.Imagen)
        {   
            <div class="sub-imagen">
                <img id="@idSubImagen" class="sub-img" src="@("~/imgProductos/"+img.ImageName)" asp-append-version="true">
             </div>  
            idSubImagen += 10;
        }
  

    </div>
    <div class="imagenes">
        @foreach (var img in ViewBag.Imagen)
        {
            if (img.Estado == "Principal")
            {
                <img id="@idImagen" class="img active" src="@("~/imgProductos/"+img.ImageName)" asp-append-version="true">
            }
            else {
                <img id="@idImagen" class="img" src="@("~/imgProductos/"+img.ImageName)" asp-append-version="true">
            }
            idImagen++;
            
        }
    </div>

    <div class="informacion">
        <div class="nombre">
            <h1>@Html.DisplayFor(model => model.Nombre)</h1>
        </div>
        <div class="descripcion">
            <h2 class="title">Descripción</h2>
            <p>@Html.DisplayFor(model => model.Descripcion)</p>
        </div>
        <div class="color-container">
            <h3 class="title">Colores</h3>
            <div class="colores">
                @foreach (var colores in ViewBag.Colores)
                {
                    <span id="@colores.Color" class="color" style="background-color: @colores.Color;"></span>               
                }
            </div>
        </div>
        <div class="medidas-container">
            <h3 class="title">Medidas</h3>
            <p class="seleccionar">Seleccione un color para vizualisar sus medidas</p>
            <div class="medidas">                           
            </div>
        </div>
        <div class="precio">
            <h4>$@ViewData["precioTotal"]<small>COP</small> </h4>
        </div>
        <div class="pedido">
            <div class="cantidad">
                <h5>Cantidad: </h5>
                <input id="cantidad" type="number" value="1" min="1">              
                <p id="disponible">(... disponibles)</p>
            </div>
            <button id="agregar" class="agregar-carrito">Agregar <i class="fas fa-shopping-cart" ></i></button>

        </div>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/producto-detalle.js" ></script>
    <script>
        $(document).ready(function () {

            var caracteristicasJSON = JSON.parse('@Html.Raw(caracteristicas)');
            var cantidad = 0;
            $(".color").click(function () {
                var color = $(this).attr("id");
                $(".medidas").empty();
                for (var i = 0; i < caracteristicasJSON.length; i++) {
                    if (caracteristicasJSON[i].Color == color) {
                        $(".medidas").append('<span id="m-' + caracteristicasJSON[i].idCaracteristicas + '" class="medida">' + caracteristicasJSON[i].Medida + '</span>');
                    }
                }
                $("#cantidad").val(1);
                $("#disponible").text('(... disponibles)');
            });


            $(document).on("click", ".medida", function () {
                var medida = $(this);
                var idMedida = $(medida).attr("id");
                var idCaracteristica = idMedida.substring(2, idMedida.length);
                var medidaActiva = document.getElementsByClassName("medida active");
                if (medidaActiva != null) {
                    $(medidaActiva).removeClass("active");
                }
                $(medida).addClass("active");
                for (var i = 0; i < caracteristicasJSON.length; i++) {
                    if (caracteristicasJSON[i].idCaracteristicas == idCaracteristica) {
                        cantidad = caracteristicasJSON[i].Cantidad;
                        $("#disponible").text('('+cantidad+' disponibles)');
                     }
                }
                $("#cantidad").val(1);
            });

            $("#cantidad").change(function () {
                var cantidadInput = $(this).val();
                if (cantidadInput < 1) {
                    $("#cantidad").val(1);
                }
                else if (cantidadInput > cantidad) {
                    $("#cantidad").val(cantidad);
                }
            });
        });

        @if (TempData["AgregadoCarrito"] != null && TempData["AgregadoCarrito"].ToString().Equals("si"))
        {
            <text>

            Swal.fire({
                icon: 'success',
                title: 'Se agrego al carrito',
                html: ''
            });

            </text>
        }
    </script>
}